@{
    ViewData["Title"] = "Ayuda";
}

<br />
<h1>@ViewData["Title"]</h1>

<div>
    <h4>
        <b class="display-4 text-info text-center">
            Intruciones
        </b>
    </h4>
    <h5>Ir a la pestaña chat</h5>
    <h5>Escribir su nombre</h5>
    <h5>Confirmar su nombre.</h5>
</div>
<br />
<div>
    <h4>
        <b class="display-4 text-info ">
            Escribir un mensaje
        </b>
    </h4>
    <h5>Estar en la pestaña chat</h5>
    <h5>Escbrir mi mensaje en el cuadro </h5>
    <h5>hacer clic en enviar.</h5>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />