@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>


<address>
    Santo Domingo<br />
    Republica Dominicana<br />
    <p>Matricula:</p>
  2018-6575
    


</address>

<address>
    <strong>Supporte:</strong>   <a href="mailto:Support@example.com">Erick@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">pablog@example.com</a>
</address>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />