

<div class="text-center">
    <h1 class="center-align">Bienvenido a IChat</h1>
</div>



    <div >

        <img class="d-block w-100" src="https://www.le-vpn.com/es/wp-content/uploads/2020/03/Online-chat-rooms-1200x628-1.png" />

    </div>

  
